# Copia a .env
# --- MYSQL AUTHORS ---
AUTHORS_DB_HOST=db-authors
AUTHORS_DB_PORT=3306
AUTHORS_DB_NAME=authors_db
AUTHORS_DB_USER=authors_user
AUTHORS_DB_PASSWORD=authors_pass
AUTHORS_DB_ROOT_PASSWORD=root_authors_pass

# --- MYSQL PUBLICATIONS ---
PUBLICATIONS_DB_HOST=db-publications
PUBLICATIONS_DB_PORT=3306
PUBLICATIONS_DB_NAME=publications_db
PUBLICATIONS_DB_USER=publications_user
PUBLICATIONS_DB_PASSWORD=publications_pass
PUBLICATIONS_DB_ROOT_PASSWORD=root_publications_pass

# --- SERVICES ---
AUTHORS_SERVICE_PORT=3001
PUBLICATIONS_SERVICE_PORT=3002

# Publications -> Authors dependency
AUTHORS_SERVICE_BASE_URL=http://authors-service:3001
AUTHORS_HTTP_TIMEOUT_MS=2500

# --- FRONTEND ---
FRONTEND_PORT=8080
VITE_AUTHORS_API_URL=http://localhost:3001
VITE_PUBLICATIONS_API_URL=http://localhost:3002
